body{
    background-color: #33313B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h1{
    text-align: center;
    font-size: 100px;
    color: #F6F5F5;
    margin-top: 5px;
}
p{
    text-align: center;
    word-spacing: 12px;
    margin-top: 0;
    a{
        text-decoration: none;
        border: none;
    }
}

h2{
   text-align: center; 
   font-size: 60px;
}

.footer{
    text-align: center;
    bottom: 0;
    font-size: 30px;
    a{
        color:  #F6F5F5
    }
}